.header-logo__text {
  @include font(normal, 1rem, 150%);
  text-align: center;
  text-transform: uppercase;
  margin-top: -0.5rem;
  padding: 0 1.4rem 0 0.3rem;
  letter-spacing: 0.1rem;

  &--color {
    color: #959AAE;
  }

}

@media (max-width:48em){
  .header-logo__text {
    @include font(normal, 1.85rem, 150%);
    font-size: 1.85rem;
    margin-top: -1.08rem;
    padding-left: 2.1rem;
    padding-right: 0rem;
   }
  }